{
  "platform": "android",
  "platformValues": {
    "app": "/Users/bdahal/Downloads/Higi-Stg-7.60.apk",
    "device": "Android Emulator",
    "platformVersion": "11",
    "appActivity": "com.higi.main.MainActivity",
    "automationName": "UiAutomator2",
    "url": "http://127.0.0.1:4723/wd/hub"
    },
  "log4jFile": "log4jMockFile.properties"
}